__pycache__/
*.py[cod]
*.so

.DS_Store
.idea/
.vscode/

*.log
*.png
*.jpg
*.jpeg
*.pdf
*.svg
*.mat
*.zip
*.tar.gz

*.pth
*.pt
*.ckpt

data/*
!data/README.md

checkpoints/*
!checkpoints/README.md

segment/checkpoint/*
!segment/checkpoint/README.md

model/best_ckpt/*
!model/best_ckpt/README.md
!model/best_ckpt/opts.yaml

outputs/
log/
record/
output_weather/

top10_matches*.txt
gallery_name*.txt
query_name*.txt
pytorch_result*.mat
result_*.txt
